
.screen{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.section-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background-color: rgb(231, 206, 255);
}

.login-button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
